    <!--div>
        <h2>Soy un reloj: {{counter}}</h2>
    </div-->
    <div>
        <img (error)="ImgError()" [src]="dataImg" alt="" *ngIf="dataImg; else elseImg">
        <ng-template #elseImg>
            <img src="https://www.m2crowd.com/core/i/placeholder.png" alt="">
        </ng-template>
    </div>
