:host
    display: block
    div
        display: flex
        justify-content: center
        margin-top: 2rem
        img
            max-width: 70%
            height: 280px
            object-fit: cover