
<div>
    <h1>ng-for works!</h1>
    <div class="componente-for">
        <div>
            <!------ *ngFor ------------------------>
            <h3>*ngFor</h3>
            <label for="">Agregar nombre a la lista:</label>
            <!------ $event binding ---------------->
            <input type="text" (keyup.enter)="addName($event)" [value]="input1">
        </div>
        <ul>
            <p *ngIf="names.length === 0">Agregue nuevos nombres</p>
            <!-- uso de indice y function ------>
            <li *ngFor="let name of names; index as i">
                <h3>{{name}}</h3> 
                <button (click)="deleteName(i)">eliminar</button>
                <button (click)="editName(i,name)">editar</button>
                <hr>
            </li>
        </ul>
    </div>
</div>

<div>
    <h2>For de objetos</h2>
    <div class="componente-for-objetos">
        <!---- array de objetos -------------->
       <div *ngFor="let product of products">
           <div class="items">
               <img [src]="product.image" alt="">
               <p>{{product.name}}</p>
           </div>
       </div>
   </div>
</div>



 <div>
   <h1>Formulario</h1>
   <form (ngSubmit)="registrarUsuario()" #myForm="ngForm">
     <div class="input-group">
       <label for="nombre">Nombre:</label>
       <input id="nombre" type="text" name="nombreForm" [(ngModel)]="registro.nombre" required>
       <p>Error</p>
     </div>
     <div class="input-group">
       <label for="correo">Correo</label>
       <input id="correo" type="email" name="correoForm" [(ngModel)]="registro.correo" required>
       <p>Error</p>
     </div>
     <div class="input-group">
       <label for="contraseña">Contraseña:</label>
       <input id="contraseña" type="password" name="contraseñaForm" [(ngModel)]="registro.contrasena" required>
       <p>Error</p>
     </div>
     <button type="submit" [disabled]="myForm.invalid">
       Guardar
     </button>
   </form>
 </div>