:host
    display: block
    width: 100%
    h1
        text-align: center
    .componente-for
        display: flex
        flex-direction: column
        align-items: center
        ul
            display: flex
            flex-direction: column
            list-style: none
            li
                margin-bottom: 1rem
                button
                        border: none
                        padding: 7px 25px
                        background: darkkhaki
                        color: white
                        font-weight: 800
                        text-transform: uppercase
                hr
                    width: 380px
                    margin-top: 2rem
    h2
        text-align: center
    .componente-for-objetos
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 10px
        background: aquamarine
        .items
            display: flex
            flex-direction: column
            align-items: center
            background: aliceblue
            img
                width: 300px
            p
                text-align: center
