$very-light-pink: #C7C7C7
$text-input-field:#F7F7F7F7
$hospital-green:#ACD9B2
$white: #FFFFFF
$black: #000000
$dark: #232830
$sm:14px
$md:16px
$lg:18px
@mixin for-phone-only
  @media (max-width: 640px) 
    @content

:host
    display: block
    margin: 0
    border: 0
    nav
        display: flex //alinea los ul en la mima linea
        justify-content: space-between //separa las listas
        padding: 16px 24px //padding entre los laterales*
        align-items: baseline
        .menu
            display: none
            @include for-phone-only  
                display: block
        .logo
            width: 100px
        .navbar-left
            display: flex
            @include for-phone-only   
                display: none
            ul
                margin-left: 12px
                list-style: none
                padding: 0
                margin: 0
                display: flex //centramos los elementos del ul
                align-items: center //centramos los elementos del ul
                li
                    a
                        text-decoration: none
                        color: #C7C7C7
                        border: 1px solid #FFFFFF
                        padding: 8px
                        border-radius: 8px
                        height: 60px
                        &:hover
                            text-decoration: none
                            color: #ACD9B2
                            border: 1px solid #ACD9B2
                .navbar-email
                    color: #C7C7C7
                    font-size: 14px
                    margin-right: 12px
                    @include for-phone-only   
                        display: none
                .navbar-shopping-cart
                    position: relative
                .navbar-shopping-cart div
                    width: 16px
                    height: 16px
                    background: #ACD9B2
                    border-radius: 50%
                    font-size: 14px
                    font-weight: bold
                    position: absolute
                    top: -6px
                    right: -3px
                    display: flex
                    justify-content: center
                    align-items: center
        .navbar-mobile
            .side-menu
                display: none
            @include for-phone-only
                .side-menu
                    position: fixed  //menu pantalla completa
                    top: 0 //menu pantalla completa
                    left: 0 //menu pantalla completa
                    bottom: 0 //menu pantalla completa
                    right: 0 //menu pantalla completa
                    background: #fff
                    display: flex
                    flex-direction: column
                    justify-content: flex-start
                    transform: translateX(-100%) //mover el menu afuera o adentro
                    transition: all ease-out .5s 
                    &.active //cuando este activo
                        transform: translateX(0)