<p>property-binding works!</p>
<div>
    <div class="interpolacion" *ngIf="show else bloqueElse">
        <!-------------------------- Interpolacion --------------------------------------------->
        <h3>{{title}}</h3>
        <p>Total: {{3+3}}</p>
        <img src="{{img}}" width="100px" alt="">
    </div>

    <div class="property-binding" *ngIf="show">
        <!-------------------------- property binding ------------------------------------------>
        <div>
            <input type="text" [disabled]="disabled">
            <input type="text" [value]="person.name" (keyup)="onKeyUp($event)" />
        </div>
        <div>
            <ul>
                <li>
                  <!------------ Interpolacion ------------>
                  <p>{{person.name}}</p>
                </li>
                <li>
                  <!------------ Interpolacion ------------>
                  <p>{{person.age}}</p>
                </li>
            </ul>
        </div>
    </div>

    <ng-template #bloqueElse>
      <p>Condición else - haga click en btn show-content</p>
    </ng-template>

    <div class="event-binding">
      <!--------------------------- event binding --------------------------->
      <button (click)="clickShowMe()">Btn show-content</button>
      <button (click)="clickDisabled()">Btn habilitar</button> 
      <button (click)="ageIncrement()">aumentar edad</button>
    </div>

    <div class="box" (scroll)="onScroll($event)">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Quibusdam debitis doloribus labore omnis aspernatur consequatur, 
          nobis incidunt! Voluptatem ex quis esse animi numquam pariatur aperiam, 
          excepturi, doloribus vitae, nam officia.
        </p>
    </div>

    <div>
      <!----------------------------- ngModel ----------------------------->
      <p>ngModel: {{person.name}}</p>
      <input type="text" [(ngModel)]="person.name" />
    </div>


       <!------------------------------- switch ------------------------------->
       <h1>switch</h1>
       <input type="text" [(ngModel)]="person.name" />
       <div [ngSwitch]="person.name">
           <p *ngSwitchCase="'Ruben'">
             Felicidades: {{person.name}}, cumples con los requisitos
           </p>
           <p *ngSwitchCase="'Ariel'">
             Felicidades: {{person.name}}, cumples con los requisitos 
           </p>
           <p *ngSwitchDefault="">
             Lo sentimos!
           </p>
       </div>

       <div>
         <h1>ngClass</h1>
         <input type="text" [(ngModel)]="person.name" #input="ngModel" required/>
         <!--hr class="line-error" [ngClass]="{'valid': input.valid,}"-->
       </div>

</div>
