:host
    width: 100%
    height: fit-content
    .producto-container
        background: #fff
        div
            text-align: center
            h2
                margin: 0
                margin-top: 24px
            p
                margin: 0
            button
                border: none
                padding: 10px 68px
                font-size: 18px
                background: crimson
                color: #fff
                cursor: pointer
                border-radius: 4px
                margin-top: 8px
   