<div class="producto-container">
    <!--utilizamos el componete image y atrves de la propiedad creada dataImg pintamos la img del componente padre-->
    <app-img [dataImg]="product.image"></app-img>
    <!--componete image-->
    <div>
        <h2> {{product.price |currency:'UER'}}</h2>
        <p appHighlight>{{product.title}}</p>
        <button (click)="agregarCarrito()">Agregar</button>
    </div>
</div>
