
<!--router-outlet></router-outlet-->


<!--div class="container-main">
        <div>
          <button (click)="mostrarImg()">Mostrar contador</button>
          <p>{{showImage}}</p>
          
          <app-img *ngIf="showImage" [dataHijo]="dataImgPadre"></app-img>
          <hr>
          <input type="text" [(ngModel)]="dataImgPadre">
        </div>
</div-->
<app-header></app-header>
<app-products-list></app-products-list>

