<div>
    <p>numero de Productos: {{miShoppingCart.length}}</p>
    <p>Total: {{total}}</p>
    <p>Fecha: {{today | date}}</p>
</div>
<div class="producto-main">
    <app-product [AliasProducto]="product" 
                *ngFor="let product of products" 
                (agregarProducto)="agregarShoppingCart($event)">
    </app-product>
</div>
