<h1>fetch-prueba works!</h1>
<!--div class="fetch">
    <div *ngFor="let ele of allData">
      <h3 class="fetch-h3">Nombre{{ele.name}}</h3>
      <img src="https://platzi-avo.vercel.app/{{ele.image}}" alt="" width="100px">
      <hr class="fetch-hr">
    </div>
</div-->
<div class="fetch">
    <div *ngFor="let ele of allData">
      <h3 class="fetch-h3">Nombre: {{ele.name}}</h3>
      <img [src]="ele.image" alt="" width="100px">
      <hr class="fetch-hr">
    </div>
</div>

